/*
 * @Description: 
 * @Version: 1.0
 * @Author: zzy
 * @Date: 2020-09-16 16:20:30
 * @LastEditors: zzy
 * @LastEditTime: 2020-09-16 17:16:40
 */
/* 通用头部导航 */
.header .logo {
    position: absolute;
    left: 60px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #c60023;
    font-weight: bold;
}

.header .search-box {
    padding: 40px 0 30px 250px;
}

.header .search-box .search-input {
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023;
}

.header .search-box .search-btn{
    position: relative;
    left: 0px;
    bottom: 1.937px;
    height: 44px;
    width: 80px;
}