<!--
 * @Description: 
 * @Version: 1.0
 * @Author: zzy
 * @Date: 2020-09-15 11:19:03
 * @LastEditors: zzy
 * @LastEditTime: 2020-09-16 15:38:33
-->

<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.imooc.com" target="_blank" class="link">慕课网</a>|
            <a href="http://www.baidu.com" target="_blank" class="link">百度</a>|
            <a href="http://www.taobao.com" target="_blank" class="link">淘宝</a>|
            <a href="http://www.zhihu.com" target="_blank" class="link">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2020 happymmall.com All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
